<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= statusCode %> <%= msg %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <% include menu.ejs %>

    <h1><%= statusCode %> error</h1>
    <p><%= msg %></p>
    <p>请刷新试试</p>
</body>
</html>