<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%= title %></title>
</head>
<body>
    <% include menu.ejs%>

    <% entries.forEach(function (entry) { %>
    <div class="entry">
        <h3><%= entry.title %></h3>
        <p><%= entry.body %></p>
        <p>Posted by <%=entry.username  %></p>
    </div>
    <% }) %>

    <% include pager.ejs %>
</body>
</html>