<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <% include menu.ejs%>

    <h1><%= title %></h1>
    <p>Fill the form</p>
    <% include message.ejs %>

    <form action="/post" method="post">
        <p><input type="text" name="entry[title]" placeholder="title"></p>
        <p><textarea name="entry[body]" placeholder="body"></textarea></p>
        <p><input type="submit" value="提交"></p>
    </form>
</body>
</html>